body {
  background: none repeat scroll 0 0 #EEEEEE;
}

header {
  background: none repeat scroll 0 0 #c6c6c6;
  margin: 1em auto 0;
  padding: 1.5em 0.5em;
}

#context {
  background: none repeat scroll 0 0 #191818;
  bottom: 0;
  left: 150px;
  margin-left: -150px;
  overflow-y: auto;
  z-index: 1000;
}

.content {
}